.food-keywordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem;
    width: 100%;
}

.food-keywordContents {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(180, 180, 180);
    margin-left: 1rem;
    padding: 3px 1px;
    cursor: pointer;
}
.food-keywordContents.active {
    background: dodgerblue;
    color: white;
}