@import url('./Globar.css');

a{
    text-decoration: none;
    color: #333;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--secondary-color);
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.Login_status{
    position: fixed;
    z-index: 5;
    right: 120px;
}
.Login_status a{
    display: flex;
    height: 100%;
    font-size: 1rem;
    align-items: center;
}
.Login_status a img{
    width: 40px;
}