.lounge__input{
    max-width: 80%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 1.5rem;
}
.lounge__input input{
    height: 20px;
}
.lounge__input__nameAndPassword form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lounge__input__text__register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lounge__input__text__register input{
   width: 500px;
}

.lounge__input__text__register button{
    position: static;
}
