@import url('./Globar.css');

.newspapaer{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
}       
.newspapaer__header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c7c7c7;

    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 3px;    

}
.newspapaer__header h1{
    font-size: 3.3rem;
}


.date-information{
    width: 100%;
    height: 30px;
    padding: 5px 0;
    border-top: 1px solid #c7c7c7;
    text-align: right;
    height: 10px;
}
.date-information span{
    font-family: 'Nanum Myeongjo', serif;
    margin-right: 3rem;
    line-height: 40px;
}


/* 뉴스내용-좌/중/우 레이아웃 구성 */
.newspapaer__body{
    max-width: 90%;
    height: 100vh;
    display: flex;
    margin-top: 5rem;
}
.left{
    width: 400px;
    height: 100%;
    /* border: 1px solid #0e0a0a; */
}
.center{
    /* width: 1000px; */
    height: 100%;
    /* border: 3px solid #a72e2e; */
}
.right{
    width: 400px;
    height: 100%;
    /* border: 1px solid #0e0a0a; */
}

/* 기사 레이아웃 */
/* 중간기사 */
.center__article{
    width: 100%;
    height: 800px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.center__article__img{
    width: 500px;
    height: 300px;
    border: 1px solid #0e0a0a;
}
.center__article__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center__article__text{
    width: 100%;
    height: 150px;
    /* border: 1px solid #cc2b2b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.center__article__text__headline{
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    /* letter-spacing: 3px; */
    text-align: center;
    margin-top: -4rem;
}
/* 왼쪽기사 */
.left__article{
    width: 100%;
    height: 800px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.left__article__img{
    width: 300px;
    height: 200px;
    border: 1px solid #0e0a0a;
}
.left__article__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left__article__text{
    width: 100%;
    height: 150px;
    /* border: 1px solid #cc2b2b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.left__article__text__headline{
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
    /* letter-spacing: 3px; */
    text-align: center;
    margin-top: -4rem;
}
/* 오른쪽기사 */
.right__article{
    width: 100%;
    height: 800px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.right__article__img{
    width: 300px;
    height: 200px;
    border: 1px solid #0e0a0a;
}
.right__article__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right__article__text{
    width: 100%;
    height: 150px;
    /* border: 1px solid #cc2b2b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right__article__text__headline{
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
    /* letter-spacing: 3px; */
    text-align: center;
    margin-top: -4rem;
}


/*    
  <div className="newspapaer__footer">
                <div className="newspapaer__footer__left">
                    <h3>세상에 이런 일이</h3>
                    <div className="icon-links"></div>
                    <div className="site-information">
                        <p>아무텍스트나</p>
                        <p>작성해봅시다</p>
                        <p>Publisher : Kwon | Jihun | Seunghyun</p>
                        <p>Copyright © React-Team All rights reserved.</p>
                    </div>
                </div>
<div className="newspapaer__footer__right">
                    <ul>
                        <li className="About">About Us</li>
                        <li>History</li>
                        <li>Contact Us</li>
                    </ul>

                    <ul>
                        <li className="Service">Service</li>
                        <li>How to Use</li>
                        <li>Terms of Service</li>
                    </ul>

                    <ul>
                        <li className="Policy">Policy</li>
                        <li>Copyright Policy</li>
                    </ul>


                </div> 
                */
.newspapaer__footer{
    height: 200px;
    width: 100%;
    background-color: #333;
   
    position: absolute;
    bottom: 0 ;

    display: flex;
    color: #fff;
}
.newspapaer__footer li{
    list-style: none;
}


