.screen-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/images/블루스크린.gif');
    background-size: cover;
    position: fixed;
    top: 0;
}
.screen-container.open {
    z-index: 10;
    opacity: 1;
}

.screen-container.close { 
    opacity: 0;
    z-index: -1;
}