@import url('./Globar.css');

/* body {
    cursor: url('../../public/images/remote4.png'), auto;
} */
body::-webkit-scrollbar {
    display: none;
}
.TvContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    /* background: url('https://mblogthumb-phinf.pstatic.net/MjAxNzAzMTZfMTA4/MDAxNDg5NjcyOTUzOTc2.BV87bXTpxENcTBg9ovkIrjULnYSVWX4UMgiFI9i_OC4g.BU2qzDQJSSSy0tpGs8dJNRk5RDpWt0SGStrVPnDuP-sg.PNG.johnoh125/%ED%85%8C%EC%8A%A4%ED%8A%B8_%ED%8C%A8%ED%84%B4.png?type=w800'); */
    background: black;
    background-size: cover;
}
.Tv {
    width: 680px;
    height: 500px;
    background-image: url('../assets/images/retrotv.png');
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
}
.Tv-body-container {
    width: 500px;
    height: 390px;
    margin-right: 8rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background: url('../assets/images/지지직.gif');
}
.youtube-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 3000px;
    margin: 2rem 0;
    background: rgba(95 85 85)
    /* background: url('https://mblogthumb-phinf.pstatic.net/MjAxNzAzMTZfMTA4/MDAxNDg5NjcyOTUzOTc2.BV87bXTpxENcTBg9ovkIrjULnYSVWX4UMgiFI9i_OC4g.BU2qzDQJSSSy0tpGs8dJNRk5RDpWt0SGStrVPnDuP-sg.PNG.johnoh125/%ED%85%8C%EC%8A%A4%ED%8A%B8_%ED%8C%A8%ED%84%B4.png?type=w800'); */
}
.youtube-container::-webkit-scrollbar {
    display: none;
}
.youtube-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem 0;
    width: 260px;
    height: 300px;
    background: url('../assets/images/필름프레임4.png');
    background-size: cover;
    filter: grayscale(100%);
}
.youtube-content .slideStop {
    transition: none;
}
.youtube-content:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    filter: grayscale(0%);
}
.youtube-content img {
    width: 260px;
    height: 200px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: url('../assets/images/login.png');
    background-size: contain;
}
.youtube-description {
    width: 260px;
    display: inline-flex;
    text-align: center;
}
.youtube-description span {
    width: 260px;
    font-size: 1rem;
    color: white;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.preveBtn {
    background: white;
    border-radius: 50%;
    padding: .8rem;
    margin-left: 1rem;
}
.nextBtn {
    background: white;
    border-radius: 50%;
    padding: 0.8rem;
    left: 95%;
}
.hide {
    opacity: 0;
}
.slideMove {
    transition: all 5s ease-in-out;
    transform: translateX(-300px);
}