.WorkpadSchedule-container{
  display: flex;
  gap: 3rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
  height: 100%;
}
.WorkpadSchedule-container button{
  all: unset;
  background-color: #2c3e50;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}
/* 달력 부분 스타일 */
.WorkpadSchedule-calendar{
  width: 60%;
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
  max-height: 80vh;
}

/* 스케줄 등록 부분 스타일 */
.WorkpadSchedule-input-container{
  padding-top: 2rem;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
  width: 20%;
}
.WorkpadSchedule-input-container form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.WorkpadSchedule-contents-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* 스케줄 디테일 스타일 */
.WorkpadSchedule-detail-container{
  text-align: center;
  width: 20%;
}
/* .WorkpadSchedule-detail button{
  all: unset;
} */
.WorkpadSchedule-modify-input-container input{
  display: block;
  margin: 1rem auto;
}
