.time-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border: 1px solid #000;
  width: 100px;
  height: 35px;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-right: 2px solid#fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid rgba(0, 0, 0, 0.6);
}
.ScheduleBar-detail-container{
  background-color: rgb(192, 192, 192);
  position: absolute;
  right: 0;
  bottom: 40px;
  border-top: 2px solid #fff;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid #fff;
}
.Calendar-btn{
  all: unset;
  cursor: pointer;
}